##Why do we want to read and write files?

Being able to open and read in files allows us to work with larger data sets, where it wouldn’t be possible to type in each and every value and store them one-at-a-time as variables. Writing files allows us to process our data and then save the output to a file so we can look at it later.

Each time we had to open a file, read the contents and then close the file. Since this is a series of steps we will often need to do, we can write a single function that does all that for us. 

***1. Write a small utility function read_file(filename) that reads the specified file and simply returns all contents as a single string:***

In [141]:
def read_file(filename): # function to read a file
    data = open(filename).read() # read the dataframe
    open(filename).close() # cloase after reading
    return data # return the data

***2. Now, instead of having to open a file, read the contents and close the file, we can just call the function read_file to do all that. 
Note that you should replace yourFile.txt with you own file which contains a  small dataset. Change filename and test it.***

In [140]:
text = read_file("olzhasFile.txt")
print(text)

id	name	year_of_birth
1	Aibat	2002
2	Olzhas	2003
3	Dana	2003

In a directory (Google colab or local machine) store multiple files with the extension .txt. You should iterate over all these files. You can do this using the listdir function from the os module. We import this function as follows:

In [94]:
from os import listdir

After that, the listdir function is available to use. This function takes as argument the path to a directory and returns all the files and subdirectories present in that directory:

In [142]:
path = ("C:\\Users\\User\\Desktop\\Data Acquistion Lab  Beibut Amirgaliyev\\ASS6\\HolyCowBeaches")
for file in os.listdir(path):
    if os.path.isfile(os.path.join(path, file)):
        print(file)
    else:
        for f in os.listdir(path +"\\"+file):
            print(file + ":")
            print(" " + f)

asd:
 test12.txt
Test1.txt
Test2.txt
Test4.txt
Документ Microsoft Word.docx
Новая папка:
 test5.txt

***3.Notice that listdir returns a list and we can iterate over that list. Write a function def list_textfiles(directory) to return a list of filenames ending in '.txt' in DIRECTORY.***

In [143]:
def list_textfiles(directory):
  #Return a list of filenames ending in '.txt' in DIRECTORY."
  textfiles = []
  for fileForOlzhas in listdir(directory):
    if fileForOlzhas.endswith(".txt"):
      textfiles.append(directory + "/" + fileForOlzhas)
  return textfiles

##Writing data out to a file
Often, we will want to write data to a new file. This is especially useful if we have done a lot of computations or data processing and we want to be able to save it and come back to it later.
###***4. Writing a file is the same multi-step process***
Just like reading a file, we will open and write the file in multiple steps.

Create a variable to hold the name of the file that we want to open. Often, this will be a new file that doesn’t yet exist.
Call a function to open the file. This time, we will specify that we are opening the file to write into it!
Write the data into the file. This requires some careful attention to formatting.
When we are done, we should remember to close the file!
Write a code below that gives an example of writing to a file:

In [144]:
filename = "output.txt"

#w tells python we are opening the file to write into it
openForRead4 = open(filename, 'w')
openForRead4.write("I'm mad at Disney, Disney. ")
openForRead4.write("They tricked me, tricked me. ")
openForRead4.write("Had me wishing on a shooting star. ")
openForRead4.write("But now I'm twenty-something. ") 
openForRead4.write("I still know nothing. ")
openForRead4.write("About who I am or what I'm not. ")
openForRead4.write("Songwriter: Salem Ilese ")
openForRead4.close()

text = read_file("output.txt")
print(text)

I'm mad at Disney, Disney. They tricked me, tricked me. Had me wishing on a shooting star. But now I'm twenty-something. I still know nothing. About who I am or what I'm not. Songwriter: Salem Ilese

###5. Newline characters
When you examine the file you just wrote, you will see that all of the text is on the same line! This is because we must tell Python when to start on a new line by using the special string character '\n'. This newline character will tell Python exactly where to start each new line.

The example below demonstrates how to use newline characters:

In [145]:
filename5 = 'output_newlines.txt'
openForRead5 = open(filename5, 'w')
openForRead5.write("I'm mad at Disney, Disney.\n")
openForRead5.write("They tricked me, tricked me.\n")
openForRead5.write("Had me wishing on a shooting star.\n")
openForRead5.write("But now I'm twenty-something.\n") 
openForRead5.write("I still know nothing.\n")
openForRead5.write("About who I am or what I'm not.\n")
openForRead5.write("Songwriter: Salem Ilese\n")
openForRead5.close()

text = read_file("output_newlines.txt")
print(text)

I'm mad at Disney, Disney.
They tricked me, tricked me.
Had me wishing on a shooting star.
But now I'm twenty-something.
I still know nothing.
About who I am or what I'm not.
Songwriter: Salem Ilese

##***6. Pulling it all together***
Read in the data from the file *.csv (selected by you) that we have been working with. You will need to do the following steps:

1.   Open the file.
2.   Use .readlines() to create a list of lines in the file. Then close the file!
3. Open a file to write your output into.
4. Write the header line of the output file.
5. Use a for loop to allow you to loop through each line in the list of lines from the input file.
6. For each line, check if the growth condition was experimental or control.
7. For the control lines, write the line of data to the output file.
8. Close the output file when you’re done!

In [146]:
filename6 = 'file.csv'
row = open(filename6, 'r').readlines() 
	
open(filename6, 'r').close()

filename6 = 'TaxiFromTaxi.txt' 
openFile = open(filename6, 'w')

openFile.write(row[0]) # head 

for line in row[1:]: # miss 1 row because it is head 
    openFile.write(line) # read file

openFile.close() # close file

In [147]:
text2 = read_file("TaxiFromTaxi.txt")
print(text2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.2,1.0,N,238,239,1.0,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.2,1.0,N,239,238,1.0,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
2,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.6,1.0,N,238,238,1.0,6.0,3.0,0.5,1.0,0.0,0.3,10.8,2.5
3,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.8,1.0,N,238,151,1.0,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.0,1.0,N,193,193,2.0,3.5,0.5,0.5,0.0,0.0,0.3,4.8,0.0
5,2.0,2020-01-01 00:09:44,2020-01-01 00:10:37,1.0,0.03,1.0,N,7,193,2.0,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0.0
6,2.0,2020-01-01 00:39:25,2020-01-01 00:39:29,1.0,0.0,1.0,N,193,193,1.0,2.5,0.5,0.5,0.01,0.0,0.3,3.81,0.0
7,2.0,2019-12-18 15:27:49,2019-12-18 15:28:59,1.0,0.0,5.0,N,193,193,1.0,0.01,0.0,0.0,0.0,0.0,0.3,2.81,2.5
8,2.0,2019-12-18 15:30:35,2019-12-18 15:31:35,4.0,0.0,1.0,N,193,193,1.0,2.5,0.5,0.5,0.0,0.0,0.3,6.3,2.5
9,1.0,2020-01-01 00:29:01,2020-01-01 00:40:28,2.0,0.7,1.0,N,246,48,1.0,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5

#Part B. Reading a database.
1. Create a database.
2. Store it in *.db format.
3. Using sqllite3 library open your database and get data using simple select and store it in a DataFrame format.

In [15]:
import pandas as pd

import sqlite3
conn = sqlite3.connect('own.db')
cursor = conn.cursor()

if(cursor.fetchone() == None): # If Table do not exit
   
   cursor.execute("""CREATE TABLE IF NOT EXISTS person(
      id integer,
      name varchar(35),
      year integer
   )""")
   
elif(cursor.fetchone() != None):
   cursor.execute("DROP TABLE person")
   cursor.execute("""CREATE TABLE IF NOT EXISTS person(
      id integer,
      name varchar(35),
      year integer
   )""")
conn.commit()
conn.close

In [138]:
conn = sqlite3.connect('own.db')
cursor = conn.cursor()
cursor.execute("INSERT INTO person VALUES(1,'Elon', 52)")
cursor.execute("INSERT INTO person VALUES(2,'Will', 59)")
cursor.execute("INSERT INTO person VALUES(3,'Messi', 45)")
conn.commit()
conn.close

In [139]:
conn = sqlite3.connect('own.db', check_same_thread = False)  # My own database
# check_same_thread = False -- for to not check thread by sqlite3 connection
cursor = conn.cursor()
select = "SELECT * FROM person"
cursor.execute(select)
df = pd.read_sql_query(select, conn)

conn.commit()
conn.close
df

   id   name  year
0   1   Elon    52
1   2   Will    59
2   3  Messi    45

#Part C. Working with html
1. Open HTML-page from Internet
2. Read data using tags
3. Display a given HTML-page items using JSON-file.

Note: You can use any library related to this task (crawlers, build-in libraries).

In [38]:
import pandas as pd
html_url = "https://myheroacademia.fandom.com/ru/wiki/%D0%93%D0%B5%D1%80%D0%BE%D0%B8" # My Hero Academia 
boku_na_hero = pd.read_html(html_url)
len(boku_na_hero)

6

In [39]:
lynch = boku_na_hero[4] # Список линчевателей lynch = линчевать
lynch

,Геройское имя,Прозвище,Настоящее имя,Причуда
0,Ползущий,"Джентельмен, Везущий",Коичи Хаимавари,Скольжение
1,Поп-Степ,Независимая звезда (самопровозглашённая),Казухо Ханеяма,Прыжок
2,Кастет,Уборщик с кулаками,Такеши Куроива,Разгон (была украдена Все-За-Одного) Беспричуд...

In [40]:
students = boku_na_hero[3] # Список студентов Юэй
students.head()

,Геройское имя,Прозвище,Настоящее имя,Причуда
0,Анима,Вежливый герой,Коджи Кода,Голос животных
1,Боевой Кулак,?,Ицука Кендо,Большие кулаки
2,Вантаблэк,Хитрый герой,Шихай Куроиро,Чернота
3,Виноградный Сок,"Герой, который готов сорвать с себя всё",Минору Минета,Волосы-виноград
4,Деку,?,Изуку Мидория,Один За Всех

In [41]:
pro_hero = boku_na_hero[2] # Список проф героев
pro_hero.head()

  Геройское имя     Прозвище  Настоящее имя       Причуда
0  Алый Бунтарь            ?              ?             ?
1     Бабблгёрл            ?  Каоруко Авата        Пузыри
2       Босатка            ?  Куго Сакамата       Косатка
3    Быстроланч            ?              ?             ?
4    Всемогущий  Символ Мира   Тошинори Яги  Один За Всех

In [42]:
import json

In [43]:
result = lynch.to_json(orient="index")
parsed = json.loads(result) # Encoding Dataframe using "index" formatted JSON
parsed

{'0': {'Геройское имя': 'Ползущий',
  'Прозвище': 'Джентельмен, Везущий',
  'Настоящее имя': 'Коичи Хаимавари',
  'Причуда': 'Скольжение'},
 '1': {'Геройское имя': 'Поп-Степ',
  'Прозвище': 'Независимая звезда (самопровозглашённая)',
  'Настоящее имя': 'Казухо Ханеяма',
  'Причуда': 'Прыжок'},
 '2': {'Геройское имя': 'Кастет',
  'Прозвище': 'Уборщик с кулаками',
  'Настоящее имя': 'Такеши Куроива',
  'Причуда': 'Разгон (была украдена Все-За-Одного) Беспричудный (на данный момент)'}}

In [44]:
result = lynch.to_json(orient="values")
parsed = json.loads(result) # Encoding Dataframe using "values" formatted JSON
parsed

[['Ползущий', 'Джентельмен, Везущий', 'Коичи Хаимавари', 'Скольжение'],
 ['Поп-Степ',
  'Независимая звезда (самопровозглашённая)',
  'Казухо Ханеяма',
  'Прыжок'],
 ['Кастет',
  'Уборщик с кулаками',
  'Такеши Куроива',
  'Разгон (была украдена Все-За-Одного) Беспричудный (на данный момент)']]

In [8]:
result = lynch.to_json(orient="table")
parsed = json.loads(result) # Encoding Dataframe using "table" formatted JSON
parsed

{'schema': {'fields': [{'name': 'index', 'type': 'integer'},
   {'name': 'Геройское имя', 'type': 'string'},
   {'name': 'Прозвище', 'type': 'string'},
   {'name': 'Настоящее имя', 'type': 'string'},
   {'name': 'Причуда', 'type': 'string'}],
  'primaryKey': ['index'],
  'pandas_version': '0.20.0'},
 'data': [{'index': 0,
   'Геройское имя': 'Ползущий',
   'Прозвище': 'Джентельмен, Везущий',
   'Настоящее имя': 'Коичи Хаимавари',
   'Причуда': 'Скольжение'},
  {'index': 1,
   'Геройское имя': 'Поп-Степ',
   'Прозвище': 'Независимая звезда (самопровозглашённая)',
   'Настоящее имя': 'Казухо Ханеяма',
   'Причуда': 'Прыжок'},
  {'index': 2,
   'Геройское имя': 'Кастет',
   'Прозвище': 'Уборщик с кулаками',
   'Настоящее имя': 'Такеши Куроива',
   'Причуда': 'Разгон (была украдена Все-За-Одного) Беспричудный (на данный момент)'}]}